### Data Analysis - 

* Based on our analysis we found that the total count of active players totaled to 576. Within the gender break down, the majority are male at 84%, followed by 14% of females, lastly with the remaining 2% as non-disclosed. 

* Age demographics was another key statistic we gathered. It was found that our highest age group fell between 20-24 followed by 15-19. We saw similar results based on purchases with the age group between 20-24 surpassing all other groups.  

* We were able to see purchase habits as well. The top three most profitable items are as follows: 
1. Final Critic
2. Oathbreaker, Last Hope of the Breaking Storm
3. Nirvana

* This data will help us fine tune our marketing efforts by offering similar profitable items and narrowing down that what our consumers want based on our largest age group. 


-----

In [3]:
#Dependencies and Setup
import pandas as pd
import numpy as np

#absolute path to the csv file,
purchase_data_path = "C:/Users/Claudia/Documents/USC-Bootcamp/pandas-challenge/Resources/purchase_data.csv"

#import the .csv file as a dataframe
purchase_data_df = pd.read_csv(purchase_data_path, encoding="utf-8")
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [4]:
#Number of players, need to remove duplicates
number_players_df = purchase_data_df.drop_duplicates(subset='SN')

#using len to figure out number of players
total_players = len(number_players_df)
total_players

576

In [5]:
player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Unique Items
#unique_items = purchase_data_df["Item ID"].unique()

#The value_counts method counts unique values in a column
unique_items_count = purchase_data_df["Item ID"].value_counts()
unique_items_count

number_of_unique_items = len(unique_items_count)
number_of_unique_items

179

In [7]:
#Average Price
Avg_price = purchase_data_df["Price"].mean()
Avg_price

3.050987179487176

In [8]:
#Number of Purchases
number_purchases = len(purchase_data_df)
number_purchases

780

In [9]:
#Total Revenue
total_rev = purchase_data_df["Price"].sum()
total_rev

2379.77

In [10]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                      "Average Price" : [Avg_price], 
                                     "Number of Purchases": [number_purchases],
                                     "Total Revenue": [total_rev]})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#table of male, females, other
gender_count = number_players_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
#getting values from the value counts
total_gender_count = gender_count.values.sum()
total_gender_count

576

In [13]:
#Male %
Male_percent = (gender_count["Male"]/total_gender_count)*100
Male_percent

84.02777777777779

In [14]:
#Female %
Female_percent = (gender_count["Female"]/total_gender_count)*100
Female_percent

14.0625

In [15]:
#Other %
Other_percent = (gender_count["Other / Non-Disclosed"]/total_gender_count)*100
Other_percent

1.9097222222222223

In [16]:
#Creating Dataframe for work 
gender_demographics_df = pd.DataFrame({"Total Count":[total_gender_count],
                                       "Percentage of Players":[Male_percent,]})
gender_demographics_df

   Total Count  Percentage of Players
0          576              84.027778


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Filter the data so that only those sightings in the Gender column are in a DataFrame
col_list = ['Gender', 'Price']

purchasing_analysis_df = purchase_data_df.loc[:, col_list]

In [18]:
purchasing_analysis_df = purchasing_analysis_df.groupby("Gender")
purchasing_analysis_df.count().median().head()


purchasing_analysis_tabledf = purchasing_analysis_df.agg(['count','mean','sum'])
                                                       

purchasing_analysis_tabledf.head(3)

                      Price
                      count      mean      sum
Gender
Female                  113  3.203009   361.94
Male                    652  3.017853  1967.64
Other / Non-Disclosed    15  3.346000    50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
#Create bins in which to place values 
bins_to_fill = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]

#Create labels for bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]

In [20]:
# Place the data series into a new column inside of the DataFrame
number_players_df["Total Count"] = pd.cut(
    x=number_players_df["Age"], 
    bins=bins_to_fill, 
    labels=group_labels)

number_players_df.head(3)

C:\Users\Claudia\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,+40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24

In [21]:
# Create a GroupBy object based upon "total count"
age_group = number_players_df.groupby(by="Total Count")
age_groupings_df = age_group["Age"].count()
age_groupings_df

Total Count
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
+40       12
Name: Age, dtype: int64

In [22]:
# Get the percent of each column within the GroupBy object
percentage_age_groups = (age_group["Age"].count()/total_players)*100
percentage_age_groups.values

array([ 2.95138889,  3.81944444, 18.57638889, 44.79166667, 13.36805556,
        9.02777778,  5.38194444,  2.08333333])

In [23]:
age_frame = {"Total Count": age_groupings_df, 
            "Percentage of Players":percentage_age_groups}

result = pd.DataFrame(age_frame)
result.head(8)

             Total Count  Percentage of Players
Total Count
<10                   17               2.951389
10-14                 22               3.819444
15-19                107              18.576389
20-24                258              44.791667
25-29                 77              13.368056
30-34                 52               9.027778
35-39                 31               5.381944
+40                   12               2.083333

## Purchasing Analysis (Age)

In [24]:
#Create bins in which to place values 
bin_values_ = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]

#Create labels for bins
labels_ = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]

In [25]:
# Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Ranges"] = pd.cut(
    x=purchase_data_df["Age"], 
    bins=bin_values_, 
    labels=labels_)

purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,+40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [26]:
# Create a GroupBy object based upon "total count"
purchase_group_analysis = purchase_data_df.groupby(by="Age Ranges")
purchase_groupings_analysis = purchase_group_analysis["Age"].count()
purchase_groupings_analysis

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
+40       13
Name: Age, dtype: int64

In [27]:
# Filter the data so that only those sightings in the Gender column are in a DataFrame
col_list2 = ['Age Ranges', 'Price']

purchasing_price_df = purchase_data_df.loc[:, col_list2]

In [28]:
#Avg purchase price

purchasing_price_df = purchasing_price_df.groupby("Age Ranges")
purchasing_price_df.count().mean().sum()


purchasing_price_tabledf = purchasing_price_df.agg(['count','mean','sum'])
                                                       

purchasing_price_tabledf.head(8)

           Price
           count      mean      sum
Age Ranges
<10           23  3.353478    77.13
10-14         28  2.956429    82.78
15-19        136  3.035956   412.89
20-24        365  3.052219  1114.06
25-29        101  2.900990   293.00
30-34         73  2.931507   214.00
35-39         41  3.601707   147.67
+40           13  2.941538    38.24

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
# Filter the data so that only those sightings in the Gender column are in a DataFrame
col_list3 = ['SN', 'Price']

top_spenders_df = purchase_data_df.loc[:, col_list3]
top_spenders_df

                SN  Price
0          Lisim78   3.53
1      Lisovynya38   1.56
2       Ithergue48   4.88
3    Chamassasya86   3.27
4        Iskosia90   1.44
..             ...    ...
775     Aethedru70   3.54
776         Iral74   1.63
777     Yathecal72   3.46
778        Sisur91   4.19
779      Ennrian78   4.60

[780 rows x 2 columns]

In [38]:
#gather summary calculations

top_spenders_dfg = top_spenders_df.groupby("SN")
top_spenders_price_tabledf = top_spenders_dfg.agg(['count','mean','sum'])
                                                       
top_spenders_price_tabledf.sort_values(by=('Price', 'sum'), ascending=False).head()

            Price
            count      mean    sum
SN
Lisosia93       5  3.792000  18.96
Idastidru52     4  3.862500  15.45
Chamjask73      3  4.610000  13.83
Iral74          4  3.405000  13.62
Iskadarya95     3  4.366667  13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
# Filter the data so that only those sightings are in a DataFrame
col_list4 = ['Item ID', 'Item Name', 'Price']

pop_df = purchase_data_df.loc[:, col_list4]
pop_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [46]:
#Avg purchase price
pop_dfg = pop_df.groupby(["Item ID", "Item Name"])

pop_tabledf = pop_dfg.agg(['count','mean','sum'])

#includes sort by descending 
pop_tabledf.sort_values(by=('Price', 'count'), ascending=False).head(8)

                                                     Price
                                                     count      mean    sum
Item ID Item Name
92      Final Critic                                    13  4.614615  59.99
178     Oathbreaker, Last Hope of the Breaking Storm    12  4.230000  50.76
82      Nirvana                                          9  4.900000  44.10
145     Fiery Glass Crusader                             9  4.580000  41.22
103     Singed Scalpel                                   8  4.350000  34.80
59      Lightning, Etcher of the King                    8  4.230000  33.84
108     Extraction, Quickblade Of Trembling Hands        9  3.530000  31.77
78      Glimmer, Ender of the Moon                       7  4.400000  30.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
pop_tabledf.sort_values(by=('Price', 'sum'), ascending=False).head(8)

                                                     Price
                                                     count      mean    sum
Item ID Item Name
92      Final Critic                                    13  4.614615  59.99
178     Oathbreaker, Last Hope of the Breaking Storm    12  4.230000  50.76
82      Nirvana                                          9  4.900000  44.10
145     Fiery Glass Crusader                             9  4.580000  41.22
103     Singed Scalpel                                   8  4.350000  34.80
59      Lightning, Etcher of the King                    8  4.230000  33.84
108     Extraction, Quickblade Of Trembling Hands        9  3.530000  31.77
78      Glimmer, Ender of the Moon                       7  4.400000  30.80